

<form action="action_page.php" method="post" style="margin-left:412px;margin-right:376px;margin-top: 81px;padding-left: 24px;">
    
  
    <div class="container">
        <div class="imgcontainer">
            <img src="https://i.pinimg.com/736x/5f/40/6a/5f406ab25e8942cbe0da6485afd26b71.jpg" alt="Avatar" class="avatar" >
          </div>
                 
      <label for="uname"><b>Username</b><sup style="color:red">*</sup></label>
      <input type="text" placeholder="Please Enter Username" name="uname" class="revathi">
      <br><br>
      <label for="psw"><b>Password</b><sup style="color:red">*</sup></label>
      <input type="password" placeholder="Please Enter Password" name="psw" required><br>
  
      <button type="submit" style="width:398px"><a href="http://localhost:49798/dshboard" style="text-decoration: none;color:black">Login</a></button>
      <!-- change the url as like the project dashboard -->
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
  </form>



 